name: Unit tests

on:
  push:
    branches:
      - master
    paths:
      - '**.go'
      - 'go.**'
      - .github/workflows/build.yaml
  pull_request:
    paths:
      - '**.go'
      - 'go.**'
      - .github/workflows/build.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache-dependency-path: go.sum

      - name: Install dependencies
        run: |
          go get .

      - name: Run tests
        run: go test -v

  build:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/master'
    strategy:
      matrix:
        os: [ linux, darwin ]
        arch: [ amd64, arm64 ]

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Build latest
        uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.os }}
          goarch: ${{ matrix.arch }}
          release_tag: latest
          asset_name: gobbler-${{ matrix.os }}-${{ matrix.arch }}
          overwrite: true
          compress_assets: false
